@import "ProgressStep/progress-step";
.progress-bar-container{
  width: 100px;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bai Jamjuree', sans-serif;
  .progress-bar{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 4px 20px;
  }
}
