.btn-upgrade{
  background-color: #FF893B;
  width: auto;
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
  text-align: center;
  font-family: 'Bai Jamjuree', sans-serif;
  text-decoration: none;
  margin-bottom: 10px;
}
