.bar-container{
    display: flex;
    padding: 10px;
    margin-top:20px;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    .price,.job{
        font-weight: normal; 
    }
    .icon{
        margin-right: 30px;
    }
    .price{
        margin-left: 900px;
        margin-right: 30px;
    }
}