.input-field-container{

    .input-field{
        padding: 10px;
        border: 1px solid #DBDDE0;
        border-radius: 5px;
        background: #FFFFFF;
        font-size: 12px;
        color: black;
        outline: none;
        font-family: 'Open Sans', sans-serif;
        line-height: 16px;
        box-sizing : border-box;


        &:focus{
            border: 1px solid #729CA2;
        }

    }
    .input-field-required{
        border: 1px solid #FF6660;
    }

    .input-field-asterix{
        color:red;
    }

    .input-title{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #333333;
        font-family: 'Open Sans', sans-serif;
    }
}



