.logo-container{
  width: 100%;
  max-width: 10vw;
  height: 100px;
  margin-top: 40px;
  background-color: #465461;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../media/img/logo-regular.png");
};
.logo-collapsed{
  background-image: url("../../media/img/logo-collapsed.png");
  max-width: 3.5vw;
};

