.form-container{
  font-family: Bai Jamjuree, sans-serif;
  margin: 25px 0;
  padding: 50px;
  background: #FFFFFF;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: calc(100% - 110px);
  & .form-heading{
    font-weight: 600;
    font-size: 16px;
    color: #729CA2;
  }

  & .form-heading-margin{
    margin-top: 0;
  }
}

.form-col-1{
  display: flex;
  flex-direction: column;
}

.form-col-2{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 50px;
}
